# output files
output.docx
output.pdf

# Node
node_modules
package-lock.json

# Typescript
build

# Packaged binary
invoice_generator

## IDEs and text editors
# Sublime Text
*.sublime-*

# VS Code
.vscode

## Other
# Libreoffice temporary files
.~*\#
